<div class="xmas_wrapper center">
        <div class="xmas_main_content" >
            <div class="xmas_tree_cont"  style="display:none;">
                <div id="xmas_tree" >
                    <div class="xmas_circle xmas_outer_glow" id="xmas_circle1">
                        <div class="xmas_inner_circle xmas_inner_glow"></div>
                    </div>
                    <div class="xmas_circle xmas_outer_glow" id="xmas_circle2">
                        <div class="xmas_inner_circle xmas_inner_glow"></div>
                    </div>
                    <div class="xmas_circle xmas_outer_glow" id="xmas_circle3">
                        <div class="xmas_inner_circle xmas_inner_glow"></div>
                    </div>
                    <div class="xmas_circle xmas_outer_glow" id="xmas_circle4">
                        <div class="xmas_inner_circle xmas_inner_glow"></div>
                    </div>
                    <div class="xmas_circle xmas_outer_glow" id="xmas_circle5">
                        <div class="xmas_inner_circle xmas_inner_glow"></div>
                    </div>
                </div>
            </div>

            <div class="xmas_ornament_cont center" id="js_xmas_ornament_cont">
                <p>Swipe Up!</p>

                <div class="xmas_ornament js_xmas_ornament animated"></div>
            </div>
        </div>

        <footer class="xmas_main_footer">
            
        </footer>
</div>

